scipy==1.12.0
scikit-learn== 1.4.1.post1
scikit-image==0.22.0
requests==2.31.0
numpy==1.26.4
opencv-python==4.9.0.80
pillow==10.2.0
transformers==4.39.3
pymilvus==2.3.6
transformers==4.39.3
CherryPy==18.9.0
